include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/datasetimporter *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/datasetimporter/migration *.ini *.py *.mako
